body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
 *, *{
    box-sizing:border-box;
    margin:0;
    padding:0;
 }

 .main_container{
    max-width:1216px;
    width:100%;
    margin:auto;
    padding:0 20px;
 }
 .section{
    padding:96px 0px;
 }
/* Navbar Section Style */
.nav_section{
    padding:16px 0px;
}
.navbar-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo_img{
    width:109px;
    height:32px;

}
.logo_img img{
    width:100%;
    height:100%;
}

.menu_bar ul{
    display:flex;
    list-style:none;
}
.menu_bar li{
    margin-right:32px;

}
.menu_bar li a{
    text-decoration:none;
    font-size:16px;
    line-height:22px;
    letter-spacing:-0.7%;
    font-weight:700;
    font-family:"Plus Jakarta Sans";
    color:#475569;
}
.btn_area{
    display:flex;
    gap:8px;
}
.btn{
      padding: 13px 20px;
      background:white;  
      color:#475569;
      border: 1px solid #CBD5E1; /* 1px border */
      border-radius: 1234px;
      font-size: 16px;
      font-weight:700;
      line-height:22px;
      letter-spacing:-0.7%;
      cursor: pointer;
      transition: all 0.3s ease;

}
.btn:hover {
    color:white;
    background:#4F46E5;
}

/* Hero Section Style */
.hero_wrapper{
    display:flex;
    flex-direction:column;
    gap:64px;
}
.bg_gradient{
  background: linear-gradient(to top, #3b82f6, #ffffff); /* top e blue, bottom e white */
  color: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.hero_top_content{
    max-width:800px;
    width:100%;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:48px;
}
.hero_text_content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:24px;
}
.top_btn_area{
    padding:6px 12px;
    border-radius:1234px;
    background:#EEF2FF;
}
.top_btn_area h3{
    width:100%;
    color:#4F46E5;
    padding:6px 12px;
    font-size:14px;
    line-height:20px;
    letter-spacing:-0.6%;
    font-family:"Plus Jakarta Sans";
    font-weight:600;
    
}
.hero_title h1{
    font-size:60px;
    line-height:68px;
    letter-spacing: -1.8%;
    font-family:"Plus Jakarta Sans";
    font-weight:800;
    text-align:center;
    
}
.hero_des p{
    font-size:18px;
    line-height:160%;
    font-family:"Plus Jakarta Sans";
    font-weight:400;
    letter-spacing:0;
    text-align:center;
}
.hero_logo_area{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}
.social_logo{
    width:148px;
    height:44px;
}
.social_logo img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.hero_bottom_image{
    max-width:1008px;
    width:100%;
    margin:auto;
    position:relative;


}
.large_img{
    width:930px;
    
}
.large_img img{
    width:100%;
    height:100%;
    
}
.small_img{
    width: 230px;
    height:467px;
    position:absolute;
    right:0;
    bottom:40px;
}
.small_img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Company Logo Area Style */
.company_section{
    padding:64px 0px;
    background:#F8FAFC;

}
.company_wrapper{
    display:flex;
    flex-direction:column;
    gap:32px;
}
.company_logo_top{
    max-width:1184px;
    width:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.company_logo{
    width:144px;
    height:96px;
}
.company_logo img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.company_logo_bottom{
    max-width:976px;
    width:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center
    
}

/* Our Primary Feature Style */
.feature_wrapper{
    display:flex;
    flex-direction:column;
    gap:64px;

}
.feature_heading{
    max-width:800px;
    width:100%;
    margin:auto;
    display:flex;
    flex-direction:column;
}
.hero_title h2{
    font-size:36px;
    line-height:44px;
    letter-spacing:-1.4%;
    font-weight:800;
    font-family:"Plus Jakarta Sans";   
}
.feature_card{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:32px;

}
.card1{
    max-width:384px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.card_img{
    width:55px;
}
.card_img img{
    width:100%;
}
.card_title1{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.card_title1 h4{
    font-size:20px;
    line-height:28px;
    letter-spacing:-1%;
    font-family:"Plus Jakarta Sans";
    font-weight:700;
    text-align:center;
}
.card_title1 p{
    font-size:16px;
    line-height:160%;
    letter-spacing:0%;
    font-family:"Plus Jakarta Sans";
    font-weight:400;
    text-align:center;
}

/* Work Count Down Style */
.work_count_wrapper{
    display:flex;
    flex-direction:column;
    gap:64px;
}
.bg_gray{
    background:#F8FAFC;
}
.top_btn_area .imgs{
    width:28px;
    height:28px;
    display:flex;
    justify-content:center;
    align-items:center; 
    
}
.rounded_full{
    border-radius:100%;
}
.top_btn_area .imgs img{
    width:100%;

}
.count_down{
    max-width:800px;
    width:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:16px;
}
.count1{
    display:flex;
    flex-direction:column;
    gap:16px;
}
.count1 h2{
    font-size:60px;
    line-height:68px;
    letter-spacing:-1.8%;
    font-family:"Plus Jakarta Sans";
    font-weight:700;
    color:#4F46E5;
    text-align:center;
}
.margin_right_border{
    width:1px;
    height:108px;
    border:1px solid #CBD5E1;

}
.count1 p{
    font-size:18px;
    line-height:24px;
    letter-spacing:-0.8%;
    font-weight:700;
    font-family:"Plus Jakarta Sans";
    text-align:center;
    color:#475569;
}

/* What the procrastinators say style */
.procrastinatiors_say_wrapper{
    display:flex;
    flex-direction:column;
    gap:64px;
}
.procastinator_heading{
    max-width:680px;
    width:100%;
}

.heading_text{
    display:flex;
    flex-direction:column;
    gap:24px;
}
.heading_btn_text {
    padding: 6px 12px;
    background: #EEF2FF;
    border-radius: 1234px;
    text-align: center;
    width:135px;
    
}

.heading_btn_text h3{
    color: #4F46E5;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
}
.procrastinator_content{
    display:flex;
    gap:32px;
    align-items:center;
}
.content_text1{
    max-width:592px;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:8px;
}
.content_card1{
    display:flex;
    gap:24px;

}
.content_card_line{
    width:8px;
    height:138px;
    background:#E0E7FF;
    border-radius:6px;

}
.content_card_des{
    display:flex;
    flex-direction:column;
    gap:12px;
    padding:24px 24px 24px 0;
}
.content_card_des h3{
    font-size:20px;
    line-height:28px;
    letter-spacing:-1%;
    font-family:"Plus Jakarta Sans";
    font-weight:700;
    color:#475569;
}
.content_card_des p{
    font-size:16px;
    line-height: 160%;
    letter-spacing:0%;
    font-family:"Plus Jakarta Sans";
    font-weight:400;
    color:#475569;

}


.content_image{
    max-width:592px;
    width:100%;

}
.img_area{
    width:592px;
    height:592px;
}
.img_area img{
    width:100%;
    height:100%;
}

/* Testimonial Style */
.testimonial_wrapper{
    display:flex;
    flex-direction:column;
    gap:64px;
}

.testimonial_card{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:32px;
}

.test_card1{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:32px;
}
.card_test_1{
    width:100%;
    padding:24px;
    border:1px solid #E2E8F0;
    border-radius:24px;
    display:flex;
    flex-direction:column;
    gap:26px;
}

.test_star_img{
    display:flex;
    
    gap:5px;
}
.star_img{
    width:20.99px;
    height:20.25px;
    
}
.star_img img{
    width:100%;
    height:100%;

}
.test_des p{
    font-size:18px;
    line-height:160%;
    font-weight:400;
    font-family: "Plus Jakarta Sans";
    letter-spacing:0%;
    color:#475569;
}
.test_image{
    display:flex;
    gap:12px;

}
.image_icons{
    width:48px;
    height:48px;
}
.image_icons img{
    width:100%;
    height:100%;
}
.test_name h3{
    font-size:16px;
    line-height:22px;
    font-weight:700;
    letter-spacing:-0.7%;
    font-family:"Plus Jakarta Sans";
    color:#1E293B;
}
.test_name p{
    font-size:16px;
    line-height:160%;
    letter-spacing:0%;
    font-family:"Plus Jakarta Sans";
    font-weight:400;
    color:#475569

}


/* Our Office Section Style */
.our_office_wrapper{
    display:flex;
    flex-direction:column;
    gap:64px;
}
.extra_width{
    width:159px;

}
.our_company_card{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.office_card{
    width:280px;
    border-radius:24px;
    padding:24px;
    display:flex;
    flex-direction:column;
    gap:25px;
    border:1px solid #EEF2FF;

}
.location_img{
    width:17.25px;
    height:21.75px;

}
.location_img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.location_text{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.location_text h4{
    font-size:20px;
    font-family:"Plus Jakarta Sans";
    font-weight:800;
    line-height:28px;
    color:#1E293B;
    letter-spacing:-1%;
}
.location_text p{
    font-size:16px;
    line-height:160%;
    letter-spacing:0%;
    font-family:"Plus Jakarta Sans";
    font-weight:400;
    color:#1E293B;
}
